@import '../../styles/brand';
@import '../../styles/mixins';

/* Header Styling */
.header_container_inner {
    @include flex(row, space-between, baseline);
    border-bottom: $core-border-width $core-border-style $core-color-neutral-lightest;
    padding-bottom: $core-padding;
    margin-bottom: ($core-margin * 2);
}

.acronym_container{
    transform: scale(0.85);
}

// .menu_container {
//     @include flex(row, flex-end, normal);
//     grid-gap: $core-grid-gap;
//     padding: 0 ($core-padding * 1.25);
//     margin-top: $core-margin;
// }

// .menu_container a {
//     @include transition(padding, .2s, ease-in-out);
//     border-bottom: $core-border-width $core-border-style $core-color-foreground;
//     text-decoration: none;
// }

// .menu_container a:hover {
//     padding: 0 .5em;
// }

@include media($core-breakpoint-lg) {
    #home {
        .menu_container {
            margin-top: 0;
        }
    }
    .header_container_inner {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    // #results {
    //     padding-top: ($core-padding * 2);
    // }
}

