@import '../../styles/brand';
@import '../../styles/mixins';

.layout {
    padding: $core-padding ($core-padding * 2) ($core-padding * 2.5) ($core-padding * 2);
}
.home {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

@include media($core-breakpoint-lg) {
    .layout {
        padding: $core-padding ($core-padding * 6);
    }
    .home {
        grid-template-columns: 40% 60%;
    }
}