@use 'sass:math';

@import '../../styles/brand';
@import '../../styles/mixins';

/* Form Container Styling */
.form_container_outer {
    @include flex(unset, center, center);
    min-height: 500px;
}

.form_container_inner {
    background-color: $core-color-background;
    max-width: 500px;
    width: 100%;
    padding: $core-padding ($core-padding * 2) ($core-padding * 2.5) ($core-padding * 2);
    border-radius: $core-border-radius;
}

.form_item ~ .form_item {
    margin-top: ($core-margin / 2);
}

.form_input_item input[type=text] {
    border: $core-border-width $core-border-style $core-color-foreground;
    border-radius: $core-border-radius;
    box-sizing: border-box;
    padding: $core-padding ($core-padding * 0.75) $core-padding ($core-padding * 1.5);
    background: transparent;
    font-size: $core-font-size;
    @include transition(all .1s ease-in-out);
    width: 100%;
    margin-top: ($core-padding / 2);
    outline-color: $core-color-brand;
}

.form_input_item input::placeholder {
    color: $core-color-neutral;
}

.submit_btn {
    @include button(100%);
}

.budget {
    margin-bottom: math.div($core-margin, 2);
}

.currency {
    position: absolute;
    margin-top: 21px;
    margin-left: 10px;
    color: $core-color-foreground;
    font-size: $core-font-size;
}

@include media($core-breakpoint-lg) {
    .form_container_inner {
        padding: ($core-padding * 1.25);
    }
}