$core-color-brand: #E8740C;
$core-color-accent: #0C2b3A;
$core-color-neutral: #58646D;
$core-color-neutral-light: #CCCCCC;
$core-color-neutral-lightest: #EBEBEB;
$core-color-foreground: #000000;
$core-color-background: #FFFFFF;
$core-color-border: #E6EAEE;

$core-font-family: 'DM Sans', sans-serif;
$secondary-font-family: 'Oswald', sans-serif;
$core-font-size: 1.2rem;

$core-padding: .8rem;
$core-margin: .6rem;
$core-grid-gap: 1rem;

$core-border-radius: 0rem;
$core-border-width: 2px;
$core-border-style: solid;

$core-breakpoint-xl: 1200px;
$core-breakpoint-lg: 979px;
$core-breakpoint-md: 676px;
$core-breakpoint-sm: 475px;
