@import './brand';

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin box-shadow($args...) {
    -webkit-box-shadow: $args;
    box-shadow: $args;
}

@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button($width) {
    border: none;
    background-color: $core-color-brand;
    color: $core-color-foreground;
    padding: $core-padding ($core-padding * 0.75);
    font-size: $core-font-size;
    font-weight: bold;
    @include transition(all .15s ease-in-out);
    cursor: pointer;
    outline-color: $core-color-foreground;
    width: $width;
    margin-top: .25em;
    border-radius: $core-border-radius;

    &:hover {
        background-color: $core-color-foreground;
        text-decoration: underline;
        color: $core-color-background;
    }

    &:focus {
        background-color: $core-color-foreground;
        color: $core-color-background;
        text-decoration: underline;
        outline-offset: -6px;
        outline-width: 2px;
        outline-color: $core-color-background;
        outline-style: solid;
    }
}

// Small devices
@mixin media($size) {
    @media (min-width: $size) {
        @content;
    }
}
 